fastapi
uvicorn
gunicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
typer
python-dotenv
email-validator
passlib[argon2]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
supabase
fastapi-mail
jinja2

